@charset "UTF-8";

@font-face {
    font-family: 'candy';
    src: url('font/Candy\ Beans.otf') format('opentype');
}

body{
    background-color: lightgray;
}

.icone:hover{
        background-color: rgb(64, 42, 85);
        border-radius: 10px;
}

.icone{
    width: 56px;
    padding: 10px 10px 10px 10px;
    margin: -101px -3px 41px -4px;
}

.img:hover{
    background-color: lightgray;
    
}

#bordatitulo{
        background-color: rgb(36, 36, 160);
        padding: 74px 10px 10px 10px;
        margin: -17px -866px 24px -122px
}

#vazio{
    background-color: rgb(52, 52, 173);
    padding: 20px 20px 20px 20px;
    margin: -20px -50px 10px -10px;
}

.titulo{
        font: italic lighter 3em candy;
        text-align: center;
}

.subtitulo{
    color:darkslategray
}

.paragrafo{
    text-align: justify;
    text-indent: 30px;
}

.euimg{
    width: 200px;
    padding: 0px;
    margin: 2px 10px -5px -24px;
}

.eu{
    width: 200px;
    border: 1px solid white;
    background-color: white;
    padding: 6px 1px 190px 29px;
    margin: -4px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #000;
}

.editarperfil{
    margin: 10px -24px 10px 25px;
    padding: 3px 97px 3px 10px;
}

.perfilpub{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 255px;
}

.imgpub{
    width: 80px;
    border: 1px solid white;
    background-color: white;
    padding: 10px 380px 10px 10px;
    margin: -600px 34px 170px -21px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #000;
}

.imgescondida > picture{
        display: none;
}

.imgescondida:hover > picture{
    display: block;
}

.paragrafolink{
    font: normal bolder 1em arial;
}

.link02:visited{
            color: darkred;
}

.link02:hover{
        color: darkgreen;
}

.links{
        color: darkred;
}

.links:visited{
        color: darkblue;
        font-weight: bolder;
}

.links:hover{
        color: darkmagenta;
        text-decoration: underline;
}

.links:active{
    color: #000;
}

.links:before{
    content:"⇒";
}

.links:after{
    content: "⇐";
}

